@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.clr-org {
  color: orange;
}
section {
  margin-bottom: 150px;
}
.flexible {
  display: flex;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.hero {
  width: 50%;
  padding-left: 5%;
}
.hero img {
  width: 80%;
}
.btn {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.drem-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.exp-hero {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 30px;
  box-shadow: 10px 10px 40px black;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#exp-fullstack {
  border-left: 7px solid;
  border-image: linear-gradient(tomato, orange);
  border-image-slice: 1;
}
#exp-babypro {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
